.button.css-11m13ad {
    display: none !important;
}
.text-align-right {
  text-align: right;
}

.icon {
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
  align-items: center;
  &.-love {
    color: red;
  }
}